<h1>¿Quiénes somos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile reúne  a profesores, estudiantes, universidades, colegios, agrupaciones civiles y en general a todas las personas y organizaciones en Chile que estén interesadas en esta metodología.

En nuestra página encontrarás los datos de nuestros miembros, nuestras actividades, links de interés y documentos sobre el Aprendizaje – Servicio. Si quieres contactarte con alguno de nuestros miembros, no dudes en enviar un mail a reasechile@gmail.com.
</p>
<div class="somos" >
	<table>
		<tr><td>NOMBRE							</td><td>INSTITUCION					</td></tr>
		<tr><td>Alejandro Díaz					</td><td>Universidad Andrés Bello		</td></tr>
		<tr><td>Alicia Bobadilla				</td><td>Universidad de Chile			</td></tr>
		<tr><td>Alicia Muñoz					</td><td>Universidad de Chile (Med)		</td></tr>
		<tr><td>Alvaro Ugueño Novoa				</td><td>Universidad Católica de Temuco	</td></tr>
		<tr><td>Ana Campusano					</td><td>Universidad de Chile			</td></tr>
		<tr><td>Ana Margarita Andrade			</td><td>Universidad de Chile (Med)		</td></tr>
		<tr><td>Antonieta Contreras Mundaca		</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>Beatriz Rahmer					</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>Bernardita Ramirez				</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>C. Patricia Dintrans A.			</td><td>U. Católica Silva Henríquez	</td></tr>
		<tr><td>Camila Fara						</td><td>Uversidad de Chile (FEN)		</td></tr>
		<tr><td>Camila Ponce					</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>Carlos Guajardo					</td><td>Universidad Central			</td></tr>
		<tr><td>Carolina del Río				</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>Chantal Jouannet Valderrama		</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>Claus Köbrich					</td><td>Universidad de Chile			</td></tr>
		<tr><td>Daniela Ines Ejsmentewicz		</td><td>Universidad de Chile			</td></tr>
		<tr><td>Daniela Sanchez					</td><td>U. Católica Silva Henríquez	</td></tr>
		<tr><td>Edmundo Leiva					</td><td>Universidad de Santiago		</td></tr>
		<tr><td>Francisca Fuentes				</td><td>Universidad de Chile			</td></tr>
		<tr><td>G Jimenez						</td><td>U. Católica de Valparaíso		</td></tr>
		<tr><td>Gabriela Valenzuela Arcuch		</td><td>Universidad de Chile			</td></tr>
		<tr><td>Gracia Navarro Saldaña			</td><td>Universidad de Concepción		</td></tr>
		<tr><td>Hector Agusto					</td><td>Universidad de Chile			</td></tr>
		<tr><td>Jpao12@gmail.com				</td><td>								</td></tr>
		<tr><td>Juan Luis Urzúa					</td><td>								</td></tr>
		<tr><td>Juan Pablo Ramoneda Figueroa	</td><td>Universidad Adolfo Ibañez		</td></tr>
		<tr><td>Luis Cifuentes					</td><td>Pont. Universidad Católica		</td></tr>
		<tr><td>Luisa Pinto Lincoñir			</td><td>Universidad de Chile			</td></tr>
		<tr><td>M Costa							</td><td>Universidad Austral			</td></tr>
		<tr><td>Manuel Caire					</td><td>Universidad Alberto Hurtado	</td></tr>
		<tr><td>Marcela Manzanares				</td><td>Universidad Alberto Hurtado	</td></tr>
		<tr><td>Marcela Romero					</td><td>Universidad de Santiago		</td></tr>
		<tr><td>Margarita Baeza					</td><td>Universidad de la Frontera		</td></tr>
		<tr><td>MariaTeresa Andonaegui			</td><td>Universidad de Chile			</td></tr>
		<tr><td>Mauro Tamayo Rozas				</td><td>Universidad de Chile			</td></tr>
		<tr><td>Mónica Contreras				</td><td>Universidad Central			</td></tr>
		<tr><td>Mónica Jimenez de la Jara		</td><td>								</td></tr>
		<tr><td>Olga Rebolledo					</td><td>Universidad de la Frontera		</td></tr>
		<tr><td>Paulina Andrea Vergara			</td><td>Universidad de Chile			</td></tr>
		<tr><td>Responsabilidad Social UACh		</td><td>Universidad Austral			</td></tr>
		<tr><td>Ricardo Armijo					</td><td>Universidad de Santiago		</td></tr>
		<tr><td>Rosa María Gonzalez				</td><td>								</td></tr>
		<tr><td>Silvana Castillo				</td><td>Universidad de Chile			</td></tr>
		<tr><td>Valeska Leiva Duarte			</td><td>U. Católica Silva Henríquez	</td></tr>
	</table>
</div>